xrandr --output DP-2 --right-of HDMI-1
xrandr --output HDMI-1 --primary

wal -i ~/anime/pics/wallpapers/10new/atekoro_tibia.png --backend haishoku
feh --bg-fill ~/anime/pics/wallpapers/10new/tibia_2x_3n.png --g 1920x1080-15

xbindkeys --poll-rc
unclutter &
autotiling &
ibus-daemon -drx &
caps2esc -m 1 &
nm-applet &
emacs --daemon
mpd
xcompmgr -c 10 -t0 -r0 -o.00 &
autotiling &
mpDris2 &
xautolock -time 10 -locker "i3lock" -detectsleep &
