configuration {
 font: "Iosevka Hane Sans 12";
}
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"@theme "/home/esrh/.guix-profile//share/rofi/themes/sidebar.rasi"
@theme "/home/esrh/.guix-profile//share/rofi/themes/gruvbox-dark.rasi"
